


*{
    margin: 0px;
    padding: 0px;
  }  
img {
  width: 100px;
  height: 60px;
}
header {
  height: 120px;
  background-color: white;
  margin-top: -10px;
  width: 100%;
}

header h1 {
  float: left;
  margin-top: 32px;
}

header h1 .color {
  color: #36D7B7;
}

header nav {
  float: right;
}

header nav ul li {
  float: left;
  display: inline-block;
  margin-top: 50px;
}

header nav ul li a {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-right: 20px;
}


body{
  background-color: #fff;
  color: #777;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  background-color:black;
  }
  
/*  #a{
    width:none;
    margin-top:0px;
    z-index: 10;
  } */
  

  #n2{
    width: 100%;
    height: 700px;
    
  }
  
  


  table {
    background-color:#11efba;
    margin: auto;
    margin-top:100px;
    color: black;
    text-align: center;
    font-size: 18px;
    border: 2px solid black;

  }
  table td{
    width: 100px;
    height: 60px;
  }

  table, th, td
  {
  border: 3px solid black;
  border-collapse:collapse;
  }


#form{
  width: 100%;
  margin-top:0px;
  border: .1px black solid;
}

#form h3{
	font-size: 78px;
	color: #11efba;
  position: absolute;
  margin:0 auto;
  text-align: center;
  font-family:sans-serif;
  justify-content: center;
  top:150px;
  right:380px;
}


#b{
  width: 100%;
  height: 300px;
  margin-top:0px;
  margin-bottom: 200px;
}

form #sname{
  height: 30px;
  width: 200px;
  border: 2px solid #11efba;
  border-radius: 1px;
  outline: none;
  background: white;
  color: #11efba;
  font-size: 18px;
  flex: right;
}
form #artist{
   height: 30px;
   width: 200px;
   border: 2px solid #11efba;
   border-radius: 1px;
   outline: none;
   background: white;
   color: #11efba;
   font-size: 18px;
   margin-left: 10px;
   flex: right;

}
form #genre{
    height: 30px;
    width: 150px;
    border: 2px solid #11efba;
    border-radius: 1px;
    outline: none;
    background: white;
    color: #11efba;
    font-size: 18px;
    margin:10px;
     flex: right;
  
}


#btnSubmit{
    height: 30px;
    width: 160px;
    border: 2px solid #11efba;
    border-radius: 1px;
    background: #11efba;
    color: black;
    font-size: 18px;
    margin: auto;
    flex:right;
    margin-left:0px;

    
}
#form h3{
  height: 200px;
  width: 500px;
  margin: 50px auto auto auto;
}
#add{
  width: 600px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 680px;
  margin-left: 290px;
  z-index: 99;
  margin: 500px auto auto auto;

  
}
#add input{
  height: 30px;
  width: 150px;
  flex:right;
  z-index: 99;
}

#cover{
    background-image: url(assets/header1.jpg);
    width: 100%;
    height: 600px;
    margin-top:0px;
    background-size: cover;
  }  

.displayField1{
   width: 300px;

 } 

.displayField2{
   width: 250px;

 }

.displayField3{
  width: 200px;
}



