


#animated{ 
  
}

.animated { 
    animation-duration: 2s; 
    animation-fill-mode: both; 
} 

@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    animation-name: fadeIn; 
}

#animated2 { 
   
}

.animated2 { 
    animation-duration: 3s; 
    animation-fill-mode: both; 
 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInUp { 
    animation-name: fadeInUp; 
}


h2 {
	font-weight: 300;
	color: #ECF0F1;
	font-size: 55px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-weight: 300;
	color: #36D7B7;
	font-size: 55px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 15px;
}


.wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;
}



#hero-image h2 {
	margin: 180px 0 40px 0;
	float: flex;
}

#hero-image h3 {
	margin: 10px 0 40px 0;
	float: flex;
}

.button-1 {
	display: block;
	text-align: center;
	background: #444;
	border-radius: 3px;
	color: #fff;
	width: 180px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	margin: 0 auto;

}

.button-1:hover {
	background-color: #36D7B7;
	color: #fff;
}



#hero-image {
	height:580px;
	padding-top: 2px;
	background: #e8eced url('assets/hero-image.jpg') no-repeat center;
}

#features ul li.Feature-1 {
	background: url('assets/Dj.png') no-repeat top center;
	background-size: 80px;
}

#features ul li.Feature-2 {
	background: url('assets/ticket.png') no-repeat top center;
	background-size: 80px;

}
#features ul li.Feature-3 {
	background: url('assets/sound.png') no-repeat top center;
	background-size: 80px;

}



.Features-1 {
	margin: 80px 0;
	opacity: .7
}

#features ul li {
	width: 300px;
	padding-top: 100px;
	float: left;
	margin-right: 10px;
	text-align: center;
	flex-wrap: wrap;
	display:;

}

.pricing {

	display: flex;
	position: relative;
	top: 60px;
	bottom: 60px;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0 0 7em;
	padding: 50px, 50px, 50px;

}

/*#transition-pricing{
 top: 300px;
}*/


.pricing-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	flex: 0 1 330px;
}

.pricing-feature-list {
	text-align: left;
}

.pricing-action {
	color: inherit;
	border: none;
	background: none;
}

.pricing-action:focus {
	outline: none;
}

.pricing .pricing-item {
	margin: 1.5em;
	padding: 2em;
	cursor: default;
	border-radius: 10px;
	background: white;
	box-shadow: 0 5px 20px rgba(0,0,0,0.05), 0 15px 30px -10px rgba(0,0,0,0.3);
	transition: background 0.3s;
}

.pricing .pricing-item:hover {
	background: #ECECEC;
}

.pricing .pricing-title {
	font-size: 2em;
	width: 100%;
	margin: 0 0 0.25em;
	padding: 0 0 0.5em;
	border-bottom: 3px solid rgb(27, 26, 28);
}

.pricing .pricing-price {
	color: #36D7B7;
	font-size: 1.75em;
	padding: 1em 0 0.75em;
}

.pricing .pricing-sentence {
	font-weight: bold;
}

.pricing .pricing-feature-list {
	margin: 0;
	padding: 1em 1.25em 2em;
}

.pricing .pricing-action {
	font-weight: bold;
	margin-top: auto;
	padding: 0.75em 2em;
	border-radius: 5px;
	background: #36D7B7;
	transition: background 0.3s;
}

.pricing .pricing-action:hover,
.pricing .pricing-action:focus {
	background: #DADFE1;
}

@media screen and (min-width: 50em) {
  a.button-1{
    width: calc(25% - 6px);
  }
  
  a.button-1:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  a.button-1:nth-of-type(4n) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1300px){
  h2, h3{
    font-size: 200%;
    display: center;
  }
  #wrapper {
  	display: center;
  }
}
@media screen and (max-width: 800px){
  h2, h3, #hero-image{
    font-size:150%;
    display: center;
  }
   #wrapper {
  	display: center;
  }
}
@media screen and (max-width: 600px){
  h2, h3, #hero-image{
    font-size:100%;
    display: center;
  }
   #wrapper {
  	display: center;
  }

}
@media screen and (max-device-width: 300px){
  h2, h3, #hero-image{
    font-size:40%;
    display:center;
  clear:both;  }
   #wrapper {
  	display: center;
  }

}


f

body {
  background: white;
}

